<mat-toolbar class="header-container">
    <!-- Menu Icon -->
    <button mat-icon-button class="menu-icon" (click)="navigateTo('/menu')">
        <mat-icon>☰</mat-icon>
    </button>

    <!-- App Logo -->
    <div class="logo">
        <img src="#" alt="App Logo" />
    </div>

    <!-- Search Bar -->
    <div class="search-bar">
        <mat-form-field>
            <input matInput [(ngModel)]="searchQuery" placeholder="Search Turf Name" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="performSearch()">Search</button>
    </div>

    <!-- User Details -->
    <button mat-icon-button class="user-details" (click)="navigateTo('/user-details')">
        <mat-icon>account_circle</mat-icon>
        <!-- <span></span> -->
    </button>

    <!-- User Records -->
    <button mat-icon-button class="user-records" (click)="navigateTo('/user-record')">
        <mat-icon>library_books</mat-icon>
        <!-- <span>User Records</span> -->
    </button>
</mat-toolbar>