.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color); // Primary theme color
  color: #fff;
  padding: 0 16px;

  .menu-icon {
    color: #fff;
    margin-right: 16px;

    mat-icon {
      font-size: 24px;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: auto;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 16px;
    

    mat-form-field {
      flex: 1;
      margin-right: 8px;
     

      input {
        color: #000;
        background-color:var(--primary-color);
        padding: 4px 8px;
        border-radius: 4px;
      }
    }

    button {
      height: 36px;
      min-width: 64px;
      
    }
  }

  select {
    margin-left: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }

  label {
    margin-right: 8px;
    font-size: 14px;
    color: #fff;
    
  }

  hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 8px 0;
  }

  div {
    display: flex;
    align-items: center;

    p {
      margin: 0 8px;
      color: #fff;

      strong {
        font-weight: bold;
      }
    }
  }

  .user-details,
  .user-records {
    color: #fff;

    mat-icon {
      font-size: 24px;
    }
  }

  // Add responsiveness
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;

    .menu-icon {
      order: 1; // Move the menu icon to the top on mobile view
      margin: 8px 0;
    }

    .logo {
      order: 2; // Keep logo on top after the menu icon
      margin: 8px 0;
      flex: 1;
      justify-content: center;

      img {
        height: 30px; // Adjust the logo size for mobile
      }
    }

    .search-bar {
      flex-direction: column;
      margin: 8px 0;
      width: 100%; // Ensure search bar takes full width

      mat-form-field {
        margin: 0 0 8px 0;
        width: 100%; // Allow form field to stretch to full width
      }

      button {
        width: 100%; // Ensure button takes full width on small screens
        margin-top: 8px;
      }
    }

    select {
      width: 100%;
      margin: 8px 0;
    }

    .user-details,
    .user-records {
      margin-bottom: 8px;
    }

    .user-records,
    .user-details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 8px 0;
    }
  }

  @media (max-width: 480px) {
    .menu-icon {
      font-size: 20px; // Adjust icon size for smaller screens
    }

    .search-bar {
      mat-form-field {
        margin: 0 0 4px 0; // Tighten the space around the input field
      }

      button {
        height: 40px; // Adjust button size for better touch interaction
      }
    }

    .logo img {
      height: 25px; // Further reduce the logo size on very small screens
    }

    .user-details,
    .user-records {
      font-size: 12px; // Decrease font size for better fitting on small screens
    }
  }
}
