<mat-toolbar class="header-container">
  <!-- App Logo -->
  <div class="logo">
    <img src="https://cdn.produkto.io/66dee758ded95d25bd809de2/turf-masters.jpeg" alt="App Logo" />
    <img src="#" alt="App Logo" />
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <mat-form-field>
      <input matInput [(ngModel)]="searchQuery" placeholder="Search Turf Name" />
    </mat-form-field>
    <button mat-icon-button (click)="performSearch()">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </div>

  <!-- Theme Selector -->
  <div class="theme-selector">
    <label for="theme-select">Theme:</label>
    <select id="theme-select" (change)="onThemeChange($event)">
      <option value="theme-set-1">Theme 1</option>
      <option value="theme-set-2">Theme 2</option>
      <option value="theme-set-3">Theme 3</option>
      <option value="theme-set-4">Theme 4</option>
      <option value="theme-set-5">Theme 5</option>
      <option value="theme-set-6">Theme 6</option>
      <option value="theme-set-7">Theme 7</option>
      <option value="theme-set-8">Theme 8</option>
      <option value="theme-set-8">Theme 9</option>
    </select>
  </div>

  <!-- Font Selector -->
  <div class="font-selector">
    <label for="font-select">Font:</label>
    <select id="font-select" (change)="onFontChange($event)">
      <option value="Cormorant Garamond">Cormorant Garamond</option>
      <option value="Play">Play</option>
      <option value="Yuji Mai">Yuji Mai</option>
      <option value="Outfit">Outfit</option>
      <option value="Ubuntu">Ubuntu</option>
      <option value="Suravaram">Suravaram</option>
    </select>
  </div>

  <button mat-icon-button (click)="performSearch()">
    <mat-icon>search</mat-icon>
  </button>



  <!-- Theme Selection Dropdown -->
  <div>
    <mat-icon [matMenuTriggerFor]="themeMenu">format_color_fill</mat-icon>
    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="onThemeChange( 'theme-set-1')">Theme 1</button>
      <button mat-menu-item (click)="onThemeChange( 'theme-set-2')">Theme 2</button>
      <button mat-menu-item (click)="onThemeChange( 'theme-set-3')">Theme 3</button>
      <button mat-menu-item (click)="onThemeChange( 'theme-set-4')">Theme 4</button>
      <button mat-menu-item (click)="onThemeChange( 'theme-set-5')">Theme 5</button>
      <button mat-menu-item (click)="onThemeChange( 'theme-set-6')">Theme 6</button>
      <button mat-menu-item (click)="onThemeChange( 'theme-set-7')">Theme 7</button>
      <button mat-menu-item (click)="onThemeChange('theme-set-8')">Theme 8</button>
      <button mat-menu-item (click)="onThemeChange('theme-set-9')">Theme 9</button>
    </mat-menu>
  </div>

  <!-- Font Selection Dropdown -->
  <div>
    <mat-icon [matMenuTriggerFor]="fontMenu">font_download</mat-icon>
    <mat-menu #fontMenu="matMenu">
      <button mat-menu-item (click)="onFontChange( 'Cormorant Garamond')">Cormorant Garamond</button>
      <button mat-menu-item (click)="onFontChange( 'Play')">Play</button>
      <button mat-menu-item (click)="onFontChange( 'Yuji Mai')">Yuji Mai</button>
      <button mat-menu-item (click)="onFontChange( 'Outfit')">Outfit</button>
      <button mat-menu-item (click)="onFontChange( 'Ubuntu')">Ubuntu</button>
      <button mat-menu-item (click)="onFontChange('Suravaram')">Suravaram</button>
    </mat-menu>
  </div>

  <!-- User Details -->
  <button mat-icon-button class="user-details" (click)="navigateTo('/user-details')">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>