<div class="carousel-container" (mouseover)="stopAutoplay()" (mouseout)="startAutoplay()">
  <div class="carousel-slides">
    <div
      class="carousel-slide"
      *ngFor="let turf of turfDetails || []; let i = index"
      [ngClass]="{ 'active': i === currentSlide }"
    >
      <!-- Turf Image -->
      <img [src]="turf.image1" alt="{{ turf.turfname }}" />

      <!-- Slide Content -->
      <div class="slide-content">
        <!-- Turf Name -->
        <h3 class="turf-name">{{ turf.turfname }}</h3>

        <!-- Turf Description -->
        <p class="turf-description">{{ turf.description }}</p>

        <!-- Action Button -->
        <a href="#" class="button">Explore Now</a>
      </div>
    </div>
  </div>

  <!-- Custom Navigation Arrows -->
  <div class="arrow-left" (click)="prevSlide()"></div>
  <div class="arrow-right" (click)="nextSlide()"></div>

  <!-- Pagination Dots -->
  <div class="pagination-dots">
    <span
      *ngFor="let turf of turfDetails || []; let i = index"
      [ngClass]="{ 'active-dot': i === currentSlide }"
      (click)="goToSlide(i)"
    ></span>
  </div>
</div>





