

.carousel-container {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

mat-card img {
  height: 200px;
  object-fit: cover;
}
