<div class="edit-profile-container">
    <h2>Edit Profile</h2>
    <form [formGroup]="editForm" (ngSubmit)="saveUser()">
      <div class="form-field">
        <label for="name">name:</label>
        <input id="name" formControlName="name" type="text" />
        <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched">
          <small>Username is required.</small>
        </div>
      </div>
  
      <div class="form-field">
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="editForm.get('password')?.invalid && editForm.get('password')?.touched">
          <small>Password must be at least 6 characters long.</small>
        </div>
      </div>
  
      <div class="form-field">
        <label for="Email">Email:</label>
        <input id="Email" formControlName="Email" type="Email" />
        <div *ngIf="editForm.get('Email')?.invalid && editForm.get('Email')?.touched">
          <small>Enter a valid email address.</small>
        </div>
      </div>
  
      <div class="form-field">
        <label for="phone">Mobile:</label>
        <input id="phone" formControlName="phone" type="text" />
        <div *ngIf="editForm.get('phone')?.invalid && editForm.get('phone')?.touched">
          <small>Mobile number must be 10 digits.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="editForm.invalid">Save</button>
    </form>
  </div>
  