<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="registration">
                <div class="registration__field">
                    <i class="registration__icon fas fa-user"></i>
                    <input type="text" class="registration__input" placeholder="Full Name">
                </div>
                <div class="registration__field">
                    <i class="registration__icon fas fa-phone"></i>
                    <div class="registration__input-group">
                        <input type="text" class="registration__input mobile-number" placeholder="Mobile Number">
                        <button type="button" class="button send-otp">Send OTP</button>
                    </div>
                </div>
                <div class="registration__field">
                    <i class="registration__icon fas fa-key"></i>
                    <input type="text" class="registration__input" placeholder="Enter OTP">
                </div>
                <div class="registration__field">
                    <i class="registration__icon fas fa-envelope"></i>
                    <input type="email" class="registration__input" placeholder="Email (Optional)">
                </div>
                <div class="registration__field">
                    <i class="registration__icon fas fa-lock"></i>
                    <input type="password" class="registration__input" placeholder="Password">
                </div>
                <div class="registration__field">
                    <i class="registration__icon fas fa-lock"></i>
                    <input type="password" class="registration__input" placeholder="Confirm Password">
                </div>
                <button class="button registration__submit">
                    <span class="button__text">Register Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="redirect-login">
                Already have an account? <a href="#">Sign In</a>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>