 <section>
    <div class="turf_detials">
     <img src="https://t4.ftcdn.net/jpg/07/15/11/11/360_F_715111107_kRMquvXnh2UOvb95wpHlLir7dUhoopc8.jpg" alt="turf_image">
     <div class="details">
        <div>adukalam</div>
        <div>19 may ,2022</div>
        <div>amount :{{'638638683'}}</div>
    </div>
    </div>
   
    <div class="id-details">
      <div>ID:#132324</div>
      <div>Success</div>
    </div>
</section>
<section>
    <div class="turf_detials">
     <img src="https://t4.ftcdn.net/jpg/07/15/11/11/360_F_715111107_kRMquvXnh2UOvb95wpHlLir7dUhoopc8.jpg" alt="turf_image">
     <div class="details">
        <div>adukalam</div>
        <div>19 may ,2022</div>
        <div>amount :{{'638638683'}}</div>
    </div>
    </div>
   
    <div class="id-details">
      <div>ID:#132324</div>
      <div>Success</div>
    </div>
</section>
<section>
    <div class="turf_detials">
     <img src="https://t4.ftcdn.net/jpg/07/15/11/11/360_F_715111107_kRMquvXnh2UOvb95wpHlLir7dUhoopc8.jpg" alt="turf_image">
     <div class="details">
        <div>adukalam</div>
        <div>19 may ,2022</div>
        <div>amount :{{'638638683'}}</div>
    </div>
    </div>
   
    <div class="id-details">
      <div>ID:#132324</div>
      <div>Success</div>
    </div>
</section>
<section>
    <div class="turf_detials">
     <img src="https://t4.ftcdn.net/jpg/07/15/11/11/360_F_715111107_kRMquvXnh2UOvb95wpHlLir7dUhoopc8.jpg" alt="turf_image">
     <div class="details">
        <div>adukalam</div>
        <div>19 may ,2022</div>
        <div>amount :{{'638638683'}}</div>
    </div>
    </div>
   
    <div class="id-details">
      <div>ID:#132324</div>
      <div>Success</div>
    </div>
</section>

