<div class="home-container">
    <div>
        <app-carousel></app-carousel>
    </div>
    <div class="card-container">
        <div *ngFor="let turf of filteredTurfs" class="card">
            <img [src]="turf.image" alt="{{ turf.name }}" />
            <div class="card-body">
                <h3>{{ turf.name }}</h3>
                <p>{{ turf.description }}</p>
                <div class="card-actions">
                    <button class="card-button" [routerLink]="['/turfdetails', turf.id]">View Details</button>
                    <button class="card-button" [routerLink]="['/turfdetails',turf.id]">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>