
<!--<app-sidenav></app-sidenav>

<router-outlet></router-outlet>-->

<!-- app.component.html -->
<button (click)="changePrimary()">Change Primary</button>
<div class="dynamic-primary">
  <label for="theme-select">Choose Theme:</label>
  <select id="theme-select" (change)="onThemeChange($event)">
    <option value="theme-set-1">Theme 1</option>
    <option value="theme-set-2">Theme 2</option>
    <option value="theme-set-3">Theme 3</option>
    <option value="theme-set-4">Theme 4</option>
    <option value="theme-set-5">Theme 5</option>
    <option value="theme-set-6">Theme 6</option>
    <option value="theme-set-7">Theme 7</option>
    <option value="theme-set-8">Theme 8</option>
  </select>
</div>
<div class="container p-4">
  <h1>Custom Theme with Text-Specific Colors</h1>

  <button class="primary">Primary Button</button>
  <button class="secondary">Secondary Button</button>

  <div class="success">This is a success alert</div>
  <div class="warn">This is a warning alert</div>
  <div class="danger">This is a danger alert</div>

</div>

<div class="text-color">Normal color</div>
<div class="primary">Primary Text</div>
<div class="secondary">Secondary text</div>
<div class="success">
  Success Background <span class="text">Success Text</span>
</div>
<div class="warn">
  Warn Background <span class="text">Warn Text</span>
</div>
<div class="danger">
  Danger Background <span class="text">Danger Text</span>
</div>

<button class="success"><span class="text">Success</span></button>
