<div 
  class="bottom-nav" 
  [class.hidden]="isHidden"
>
  <button mat-button (click)="navigateTo('/home')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

 <!-- Search Bar -->
 <div class="search-bar">
  <!-- <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search Turf Name"
    class="search-input"
  /> -->
  <button mat-button (click)="performSearch()">
    <mat-icon >search</mat-icon>
    <span>Search</span>
  </button>
</div>


  <!-- <button mat-button (click)="navigateTo('/orderdetails')"> -->
    <!-- <button class="search-button" (click)="performSearch()">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </button> -->
  <button mat-button (click)="navigateTo('/profile')">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-button (click)="navigateTo('/turfdetails')">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
</div>
