<div class="search-container">
  <!-- Search Bar -->
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      [(ngModel)]="searchQuery"
      (input)="filterTurfs()"
      placeholder="Search Turf Name"
    />
  </mat-form-field>

  <!-- Turf List -->
  <div class="turf-list">
    <mat-card *ngFor="let turf of filteredTurfs" class="turf-card">
      <img mat-card-image [src]="turf.image" alt="{{ turf.turfname }}" />
      <mat-card-title>{{ turf.turfname }}</mat-card-title>
      <mat-card-subtitle>{{ turf.description }}</mat-card-subtitle>
    </mat-card>
  </div>
</div>

