<header>
    <button mat-icon-button (click)="router.navigate(['/courtdetails'])">
        <!-- <mat-icon>arrow_back</mat-icon> -->
    </button>
    <h1>Order Details</h1>
</header>

<section class="order_idDetails">
    <div>
        <strong>Order ID:</strong>
        <div>#{{ orderId }}</div>
    </div>
    <div>
        <strong>Ordered Date:</strong>
        <br />
        {{ currentDate | date:'medium' }}
    </div>
</section>

<section>
    <h2>Turf Details</h2>
    <div class="turf-details">
        <!-- <img [src]="turfDetails?.image1 || 'default-image.jpg'" alt="Turf Image" /> -->
        <h3>{{ turfDetails?.turfname }}</h3>
        <p><strong>Location:</strong> {{ turfDetails?.location }}</p>
        <p><strong>Slot Time:</strong> {{ slotDetails?.time }}</p>
        <p><strong>Date:</strong> {{ slotDetails?.date }}</p>
    </div>
</section>

<section>
    <h2>User Information</h2>
    <p><strong>Name:</strong> {{ currentUser?.name }}</p>
    <p><strong>Email:</strong> {{ currentUser?.email }}</p>
    <p><strong>Phone:</strong> {{ currentUser?.phone }}</p>
</section>

<ng-template #noData>
    <p>No booking data available.</p>
</ng-template>


<section class="order_PaymentMethod">
    <div>
        <strong>Payment Method:</strong> {{ paymentMethod }}
    </div>
</section>

<button class="order-button" (click)="downloadETicket()">Download E-Ticket</button>